* {
  margin: 0;
  padding: 0;
}

.min-password {
  font-size: 0.7em;
}

.width-col {
  width: 750px;
}

.morgin-auto {
  width: 100vw;
  height: 100vh;
  background: #121214;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fundo {
  background: #121214;
  margin-top: 10%;
}

.color-form {
  background: #1f1e23;
  padding: 40px 30px 60px 30px;
  border-radius: 5px;
}

.ver {
  border: 2px solid #00d698;
  background-color: #121214;
}

.btn-cor {
  background-color: #00d698;
  color: white;
  font-weight: 600;
}

.btn-cor:hover {
  background-color: #059a70;
  color: rgb(237, 234, 234);
}

.register {
  color: #00d698;
  text-decoration: none;
  margin: 5px;
}
.register:hover {
  color: #059a70;
}

.about-data {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

.p-about {
  font-weight: 300;
  margin-top: 20px;
}

h1, p {
  color: white;
  font-weight: 600;
}

span {
  color: #00d698;
  font-weight: 600;
}

option {
  color: white;
}

header {
  height: 100px;
  background: #121214;
  border: 1px solid red;
}

.home {
  background-color: #1f1e23;
}

.width {
  width: 900px;
}

.info {
  width: 210px;
}

.left {
    width: 10px;
    height: 10px;
    transition: .5s;
    float: left;
    box-shadow: -2px 2px 0 #00d698;
    margin-top: 7px;
}

.left {
    transform: rotate(45deg);
}